body {
  color: black;
  background-color: #d3ebf4;
  margin: 2%;
}

img {
  width: 90%;
  max-width: 250px;
  border-radius: 1em;
}

h1 {
  font-family: 'Yellowtail', cursive;
  font-size: 2.5em;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 2em;
}

h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.5em;
}

p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1em;
}
