@media only screen and (min-width: 600px) {
  #hamburger {
    display: none;
  }

  .main-nav ul {
    display: inline-block;
  }

  .main-nav ul li {
    display: inline;
    margin: 20px;
    font-size: 1.5em;
  }

  #bioInfo img {
    float: left;
  }

  #bioInfo h3 {
    clear: both;
  }

  .bio,
  .bio p {
    display: inline;
  }
}
